<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Chime</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="description" content="Chime">
		<meta name="msapplication-TileColor" content="#00d1b2">
		<meta name="msapplication-TileImage" content="/assets/icon.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content="Chime">
		<meta name="application-name" content="Chime">
		<meta name="format-detection" content="telephone=no">
		<meta name="theme-color" content="#00d1b2">
		<link rel="apple-touch-icon" sizes="512x512" href="/assets/icon.png">
		<link rel="icon" type="image/png" href="/assets/favicon.ico" sizes="32x32">
		<link rel="manifest" href="/manifest.json">
	</head>
	<body></body>
</html>
